// *** MASTER SASS FILE ***

// --- PARTIALS ---
@import "helpers/reset";
@import "helpers/typography";

@import "components/placeholders";
@import "components/header";

// --- MASTER CONTROLS ---

body {
  width: 100vw;
  height: 100vh;

  font-family: "Helvetica Neue", Helvetica, arial, freesans, clean, sans-serif;
  font-size: 100%;
  color: #EFEAE1;
  background-color: #333233;
}
