// *** HERO PARTIAL ***
#hero {
  width: 100vw;
  @include basic-flex (center, flex-start);

  #hero-content {
    width: $content-width;
    height: 25px;
    background-color: #CCC;
  }//hero-content
}//hero
