// *** GLOBAL VARIABLES ***

$content-width: 860px;
// Be careful about going anything below 860px: #hero-content-top-ani, #hero-content-top-ul
$body-color: #333233;
$border-style: 1px solid #4E4B4D;
$atom-tan: #EFDAB9;

$hover-color: #EBAB00;
$button-color: #FED153;
$button-border-radius: 5px;
