// *** GLOBAL VARIABLES ***

$content-width: 860px;
$body-color: #333233;
$border-style: 1px solid #4E4B4D;
$atom-tan: #EFDAB9;

$hover-color: #EBAB00;

$button-color: #FED153; // had to add - prev included in sub-footer
$atom-tan: #EFDAB9; // had to add - prev included in sub-footer
$button-border-radius: 5px; // had to add - prev included in sub-footer
